<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Price Alter, <%= @user.email %></h1>
    <p>
      Price Alter has been trigerd for below product,
    </p>
    <p>
      Product link: <%= @url %>.
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
