<div id="<%= dom_id price_alert %>">
  <p>
    <strong>Url:</strong>
    <%= price_alert.url %>
  </p>

  <p>
    <strong>Selector:</strong>
    <%= price_alert.selector %>
  </p>

  <p>
    <strong>Trigger amount:</strong>
    <%= price_alert.trigger_amount %>
  </p>

</div>
