<!-- <h1>Editing price alert</h1> -->

<%= render "formEdit", price_alert: @price_alert %>





<div class="text-center text-lg-start mt-4 pt-2" style="background: white; width: 30%; margin-left: 59%; margin-top: -10%;">
  <%= link_to "Show this price alert", @price_alert ,style: "color: black; font-size: 1.25rem; text-decoration: underline"%> 
  <br>
  <%= link_to "Back to price alerts", price_alerts_path ,  style: "color: black; font-size: 1.25rem; text-decoration:underline"%>
</div>
