<h1>Editing price alert</h1>

<%= render "form", price_alert: @price_alert %>

<br>

<div>
  <%= link_to "Show this price alert", @price_alert %> |
  <%= link_to "Back to price alerts", price_alerts_path %>
</div>
