<p style="color: green"><%= notice %></p>

<div id="price_alerts">
  <% @price_alerts.each do |price_alert| %>
    <%= render price_alert %>
  <% end %>
</div>

<%= link_to "New price alert", new_price_alert_path %>
