<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Scrapper</title>
	<%= stylesheet_link_tag "home.css" %>
</head>
<body>
	<div>
		<div class="ocontent">
			<h1>Web Scrapper</h1>
			<p>Making web data extraction<br> easy and accessible for everyone </p>
			<div>
				<button type="button"> <span></span> Watch more</button>
				<button type="button"> <span></span> Subscribe</button>
			</div>
		</div>
	</div>
</body>
</html>